body {
  text-align: center;
  background-color: darkgray;
  font-family: 'Trebuchet MS', sans-serif;
}

header{
  text-align: left;
}

h3{
  font-size: 7vh;
}

.round {
  border-radius: 50%;
  height: 50vh;
}

button {
  margin-top: 5vh;
}